@{
  Layout = "_Layout";
}
<h1>Word Count History is Cleared</h1>
<h1>What would you like to do next?<h1>
<a href="/repeat-counter" class="myButton">Back to Word Count</a>
<a href="/" class="myButton">Back Home</a>
