@{
  Layout = "_Layout";
}
<div id="repeatCounter">
  <h1>Welcome to the Word Counter</h1>
  <h2>If you are looking for a program to count how many times a word appears in your sentence...</h2>
  <h2><em><strong>...look no further!</strong></em><h2>
  <a href="/repeat-counter/new" class="myButton">Start New Query</a>
  <div id="wordCountHistory">
    <h1>Word Count History</h1>
    @if(@Model.Instances.Count > 0)
    {
      @foreach (RepeatCounter instance in Model.Instances)
      {
      <div class="responseDisplay">
        <p>Your word <strong>"@instance.WordInput"</strong> appeared in <strong>"@instance.SentenceInput"</strong> <strong>@instance.InstancesOfMatch</strong> times</p>
      </div>
      }
    }
    else
      {
        <h2>*~You have no Word Count history~*</h2>
      }
  </div>
</div>
