@{
  Layout = "_Layout";
}

<div id="playHangMan">
    <h1>Hang Man</h1>
    <div class="wrapper">
        <div id="box box-1">
            <h2>Number of WRONG guesses - you only get 6!:</h2>
            <h2>@Model.NumberOfGuesses</h2>

            <h2>Used Letters:</h2>
            <ul>
            @if(@Model.LettersGuessed.Count > 0)
            {
            @foreach (char letter in Model.LettersGuessed)
            {
            <li>@letter</li>
            }
            }
            else
            {
            <p>|</p>
            <p>|</p>
            <h2>*~No letters Guessed~*</h2>
            }
            </ul><br>
            <a href="/" class="myButton">Home</a>
        </div>
        <div id="box box-2">
                @foreach (char letter in Model.WordBlank)
                {
                    <div id="grid">
                        <p id="wordBlanks">@letter</p>
                    </div>
                }

            <form action="/hangman" method="post">
                <label for="userLetter">Please Enter A Letter: </label>
                <input id="userLetter" name="userLetter" type="text">
                <button type="submit">Add</button>
            </form>
        </div>
    </dv>
</div>
