@{
  Layout = "_Layout";
}

<div id="playHangMan">
  <h1>Hang Man</h1>

  <h2>Number of WRONG guesses - you only get 6!:</h2>
  <h2>@Model.NumberOfGuesses</h2>

  <h2>Used Letters: </h2>


  <ul>
    @if(@Model.LettersGuessed.Count > 0)
    {
      @foreach (char letter in Model.LettersGuessed)
      {
        <li>@letter</li>
      }
    }
      else
      {
        <h2>No letters Guessed</h2>
      }
  </ul>

      @foreach (char letter in Model.WordBlank)
      {
        <p>@letter</p>
      }

  @* <h1>@Model.WordBlank</h1> *@

  <form action="/hangman" method="post">
    <label for="userLetter">Please Enter A Letter: </label>
    <input id="userLetter" name="userLetter" type="text">
    <button type="submit">Add</button>
  </form>

</div>
