@{
  Layout = "_Layout";
}
<div class="createNew">
    <h1>Make A New Word Count</h1>

    <form action="/word-counter" method="post">
        <label for="wordInput">Please enter the word you would like to count:</label><br>
        <input id="wordInput" name="wordInput" type="text"><br>
        <label for="sentenceInput">Please enter your sentence:</label><br>
        <input id="sentenceInput" name="sentenceInput" type="text"><br><br>
        <button class="myButton" type="submit">Submit</button><br>
    </form>

    <a href="/word-counter" class="myButton">Back to Word Count</a>
    <a href="/" class="myButton">Back Home</a>
</div>
